<?xml version="1.0"?>
<robot name="surfer" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- inertial parameter macros -->

<xacro:macro name="chassis_inertial_params">
  <origin xyz="0.1477 0 0" rpy="0 0 0" />
  <mass value="4.0" />
  <inertia ixx="0.010609" ixy="0"          ixz="0"
                          iyy="0.050409"   iyz="0"
                                           izz="0.05865" />
</xacro:macro>

<xacro:macro name="body_inertial_params">
  <origin xyz="0.1477 0 0" rpy="0 0 0" />
  <mass value="0.05" />
  <inertia ixx="0.010609" ixy="0"          ixz="0"
                          iyy="0.050409"   iyz="0"
                                           izz="0.05865" />
</xacro:macro>


<!-- geometry macros -->
<xacro:macro name="chassis_geometry">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <geometry>
    <mesh filename="package://surfer_description/meshes/surfer_chassis.stl" />
  </geometry>
</xacro:macro>


</robot>
